section {
  position: relative;
}

#camille {
  width: 10%;
}

#logos {
  text-align: center;
}

.logo {
  display: inline-block;
  /* contain: content;*/
  max-width: 30%;
  padding-left: 1%;
  padding-right: 1%;
  position: relative;
}
/* .logo:hover {
  background-color: white;
  opacity: 0.2;
}

.logo-overlay {
  position: absolute;
  width: 95%;
  height: 100%;
  text-align: center;
  z-index: 2;
} */
.img-container {
  width: 500px;
  height: 400px;
  position: relative;
}
  img {
    width: 100%;
    height: 100%;
  }
  .white-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: white;
    color: black;
    line-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-transform: uppercase;
  }
  .white-overlay:hover {
    opacity: 0.8;
  }

/* .logo-hover {
  background-color: white;
  opacity: 0.2;
  width: 100%;
} */

/* 
.texte {
  z-index: 2;
  position: absolute;
} */

img.carte {
  width: 100%;
  border: solid 1px gray;
}

#nav-bar {
  display: flex;
}

#titre {
  text-align: center;
}

#wad {
  padding-top: 0px;
  margin-top: 0px;
}
