section {
  position: relative;
  width: 100%;
  height: 900px;
  margin: 0%;
  padding: 0%;
}

#titre {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

#camille {
  width: 10%;
}

#logos {
  text-align: center;
}

.logo {
  display: inline-block;
  /* contain: content;*/
  max-width: 32%;
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
}

.img-container {
  width: 500px;
  height: 400px;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
}
.white-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: white;
  color: black;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  text-transform: uppercase;
}
.white-overlay:hover {
  opacity: 0.8;
}

img.carte {
  width: 100%;
  border: solid 1px gray;
}

#nav-bar {
  display: flex;
}

#wad {
  padding-top: 0px;
  margin-top: 0px;
}

#about-contenu {
  padding-top: 10%;
  background-image: url(blue-wall.jpg);
  background-size: cover;
  position: relative;
}

#portrait {
  position: absolute;
  width: 30%;
  opacity: 0.5;
}

#about-title {
  font-size: 100px;
  margin-bottom: 10%;
  margin-top: 0%;
}

#about-text {
  text-align: center;
  float: right;
  width: 100%;
}

#description {
  float: left;
  text-align: left;
  padding-left: 33%;
  padding-right: 33%;
}

#email {
  margin: 10%;
}

#list {
  float: right;
  padding: 10%;
}

ul {
  list-style-type: none;
}

#skills-contenu {
  margin-top: 10%;
  background-image: url(white-stain2.jpg);
  background-size: cover;
  position: relative;
  background-color: black;
}

#skills-title {
  color: gray;
  width: 35%;
  display: block;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  float: right;
  width: 60%;
}

.card {
  background-color: black;
  color: whitesmoke;
}

.img-card {
  width: 100%;
  height: 45%;
}

.container {
  padding: 2px 16px;
  height: 55%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(255, 255, 255);
}
#career-contenu {
  margin-top: 10%;
  padding-top: 10%;
  background-image: url(black-stone.jpg);
  background-size: cover;
  position: relative;
  background-color: black;
}

#career-title {
  color: white;
}
