/* .logo:hover {
  background-color: white;
  opacity: 0.2;
}

.logo-overlay {
  position: absolute;
  width: 95%;
  height: 100%;
  text-align: center;
  z-index: 2;
} */

/* .logo-hover {
  background-color: white;
  opacity: 0.2;
  width: 100%;
} */

/* 
.texte {
  z-index: 2;
  position: absolute;
} */
